@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);


#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #7ac673;
}
#ext_menu-0 .mbr-navbar__section {
  background: #7ac673;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
}
#ext_menu-0 .mbr-navbar__items a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}


#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #7ac673;
}
#ext_menu-6 .mbr-navbar__section {
  background: #7ac673;
}
#ext_menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-6 .mbr-brand__name a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
}
#ext_menu-6 .mbr-navbar__items a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}


#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #7ac673;
}
#ext_menu-8 .mbr-navbar__section {
  background: #7ac673;
}
#ext_menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-8 .mbr-brand__name a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
}
#ext_menu-8 .mbr-navbar__items a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}
#msg-box4-9 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9 .mbr-article {
  color: #ffffff;
}
#msg-box4-c .mbr-header__text {
  color: #ffffff;
}
#msg-box4-c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-c .mbr-article {
  color: #ffffff;
}
#msg-box4-e .mbr-header__text {
  color: #ffffff;
}
#msg-box4-e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-e .mbr-article {
  color: #ffffff;
}
#msg-box4-d .mbr-header__text {
  color: #ffffff;
}
#msg-box4-d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-d .mbr-article {
  color: #ffffff;
}


#ext_menu-f .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-f.mbr-navbar--stuck .mbr-navbar__section {
  background: #7ac673;
}
#ext_menu-f .mbr-navbar__section {
  background: #7ac673;
}
#ext_menu-f .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-f .mbr-brand__name a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
}
#ext_menu-f .mbr-navbar__items a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}


#ext_menu-h .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #7ac673;
}
#ext_menu-h .mbr-navbar__section {
  background: #7ac673;
}
#ext_menu-h .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-h .mbr-brand__name a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
}
#ext_menu-h .mbr-navbar__items a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}
